@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.img_second,
.img_first {
  max-width: 300px;
}

.img_second img,
.img_first img {
  width: 100%;
  height: 300px;
}

.about_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -130px;
}

.about_right {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 50px;
}

.about_left {
  width: 40%;
}

.img_second img {
  margin: 30px;
}

.about_left p{
    margin: 20px;
    margin-left: 0;
}

.about_title h2{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.about_left p{
    font-family: "Manrope", sans-serif;
  }
  

.about_us_btn {
    position: relative;
    overflow: hidden;
    width: 150px;
    padding: 20px;
    border: none;
    background: #52b947;
    color: white;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
    display: inline-block;
    transition: color 0.5s ease;
}

.about_us_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    transition: left 0.5s ease;
    z-index: -1;
}

.about_us_btn:hover::before {
    left: 0;
}

.about_us_btn:hover{
    color: #52b947;
}

.about_us_btn a{
  color: white;
  transition: .3s ease-in-out;
}

.about_us_btn:hover a{
  color: #52b947;
}